a{
  text-decoration: none;
  color:red;
}
#header{
  background:lightblue;
}
#header{
  background-color: lightskyblue;
}
header{
  background: green;
}
.welcome{
  background: pink;
}